.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information input{
  width: 250px;
  height: 30px;
  font-size: 20px;
  padding-left: 15px;
  margin: 5px;
}

.information button{
  width: 250px;
  height: 30px;
  margin-top: 15px;
}

.information button:hover{
  cursor: pointer;
}